.search {grid-column: 1;}
.overview {grid-column: 2;}
.market-index {grid-column: 1;}
.top-gainers-losers {grid-column: 1;}

.grid-container {
    display: grid;
    grid-template-columns: 67% 33%;
    grid-gap: 16px;
}