<div class="container-large">

    <div class="grid-container">

        <div class="search">
            <app-search-bar></app-search-bar>
        </div>

        <div class="overview">
            <app-status-overview></app-status-overview>
        </div>

        <div class="market-index">
            <app-market-index></app-market-index>
        </div>

        <div class="top-gainers-losers">
            <app-top-gainers-losers></app-top-gainers-losers>
        </div>
    
    </div>

</div>