<h2>Nicole Tan's profile</h2>

<h4><b>Amount of Fiat currency:</b> $1,000</h4>

<h3>Overview of holdings</h3>
<table>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Amount of stocks</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>TSLA</td>
        <td>Tesla, Inc.</td>
        <td>2</td>
        <td>$1,500</td>
    </tr>
    <tr>
        <td>C</td>
        <td>Citigroup Inc.</td>
        <td>10</td>
        <td>$720</td>
    </tr>
    <tr>
        <td>NFLX</td>
        <td>Netflix, Inc.</td>
        <td>1</td>
        <td>$550</td>
    </tr>
</table>
<!-- potential pie chart here -->
<!-- <div echarts [options]="chartOption" class="demo-chart"></div> -->

<h3>Trading history</h3>
<table>
    <tr>
        <th>Date</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Type</th>
        <th>Profit</th>
    </tr>
    <tr>
        <td>2021-8-23</td>
        <td>TSLA</td>
        <td>Tesla, Inc.</td>
        <td>Sell</td>
        <td>$200</td>
    </tr>
    <tr>
        <td>2021-8-23</td>
        <td>TSLA</td>
        <td>Tesla, Inc.</td>
        <td>Sell</td>
        <td>$200</td>
    </tr>
    <tr>
        <td>2021-8-23</td>
        <td>TSLA</td>
        <td>Tesla, Inc.</td>
        <td>Sell</td>
        <td>$200</td>
    </tr>
    <tr>
        <td>2021-8-23</td>
        <td>TSLA</td>
        <td>Tesla, Inc.</td>
        <td>Sell</td>
        <td>$200</td>
    </tr>
    <tr>
        <td>2021-8-23</td>
        <td>TSLA</td>
        <td>Tesla, Inc.</td>
        <td>Sell</td>
        <td>$200</td>
    </tr>
</table>

<h3>Status of trades</h3>
<table>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>AAPL</td>
        <td>Apple Inc.</td>
        <td>Buy</td>
        <td>Rejected</td>
    </tr>
    <tr>
        <td>AAPL</td>
        <td>Apple Inc.</td>
        <td>Sell</td>
        <td>Rejected</td>
    </tr>
    <tr>
        <td>AAPL</td>
        <td>Apple Inc.</td>
        <td>Sell</td>
        <td>Filled</td>
    </tr>
    <tr>
        <td>AAPL</td>
        <td>Apple Inc.</td>
        <td>Sell</td>
        <td>Processing</td>
    </tr>
    <tr>
        <td>AAPL</td>
        <td>Apple Inc.</td>
        <td>Buy</td>
        <td>Created</td>
    </tr>
</table>