
<table class="table table-striped mat-elevation-z8 table-condensed">
    <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity of Stocks</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Total Valuation</th>
      <th scope="col">Profit/Loss (%)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of userAssets">
      <td>{{ stock.ticker }}</td>
      <td>{{ stock.name }}</td>
      <td>{{ stock.qty }}</td>
      <td>$ {{ stock.tradedPrice | number }}</td>
      <td>$ {{ stock.valuation | number }}</td>
      <td>{{ stock.pnl }}</td>
    </tr>
    </tbody>
  </table>

<!-- <div echarts [options]="chartOption" class="demo-chart"></div> -->