
<table class="table table-striped mat-elevation-z8 table-condensed">
    <thead>
    <tr>
      <th [appSort]="userAssets" data-order="desc" scope="col" data-type="date" data-name="ticker" scope="col">Symbol</th>
      <th [appSort]="userAssets" data-order="desc" scope="col" data-type="date" data-name="name" scope="col">Name</th>
      <th [appSort]="userAssets" data-order="desc" scope="col" data-type="date" data-name="qty" scope="col">Quantity of Stocks</th>
      <th [appSort]="userAssets" data-order="desc" scope="col" data-type="date" data-name="tradedPrice" scope="col">Traded Price</th>
      <th [appSort]="userAssets" data-order="desc" scope="col" data-type="date" data-name="realTimePrice" scope="col">Real Time Price</th>
      <th [appSort]="userAssets" data-order="desc" scope="col" data-type="date" data-name="valuation" scope="col">Total Valuation</th>
      <th [appSort]="userAssets" data-order="desc" scope="col" data-type="date" data-name="pnl" scope="col">Profit/Loss (%)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of userAssets">
      <td>{{ stock.ticker }}</td>
      <td>{{ stock.name }}</td>
      <td>{{ stock.qty }}</td>
      <td>{{ stock.tradedPrice | currency }}</td>
      <td>{{ stock.realTimePrice | currency }}</td>
      <td>{{ stock.valuation | currency }}</td>
      <td>{{ stock.pnl }}</td>

      <td>
        <button 
          *ngIf="stock"
          mat-stroked-button
          [routerLink]="'/stock/' + stock.ticker"
          class="trade-button">
          Trade
        </button>
      </td>

    </tr>
    </tbody>
  </table>

<!-- <div echarts [options]="chartOption" class="demo-chart"></div> -->