<div class="container">
    <h3>Make a Trade</h3>
    
    <br>

    <!-- buy sell button toggle -->
    <mat-button-toggle-group name="buysell" [(ngModel)]="buysell">
        <mat-button-toggle checked="true" value="BUY">Buy</mat-button-toggle>
        <mat-button-toggle value="SELL">Sell</mat-button-toggle>
    </mat-button-toggle-group>

    <br><br>

    <p>Select Your Order Type:</p>

    <!-- limit market button toggle -->
    <mat-button-toggle-group name="limitmarket" [(ngModel)]="limitmarket">
        <mat-button-toggle checked="true" value="limit">Limit</mat-button-toggle>
        <mat-button-toggle value="market">Market</mat-button-toggle>
    </mat-button-toggle-group>

    <br><br>

    <p>Enter Quantity:</p>

    <mat-form-field>
        <input matInput 
            placeholder="Quantity"
            [(ngModel)]="quantity"
            >
    </mat-form-field>

    <br><br>

    <button mat-stroked-button class="button"
        (click)="makeTrade()">
        Make Trade
    </button>

    <br><br>

</div>