<div style="padding:32px">

    <div class="row">
        <div class="col8">

            <form class="stock-search-form">
                <mat-form-field class="full-width">
                    <input
                        matInput
                        placeholder="Search Stocks">
                </mat-form-field>
            </form>

        </div>

        <div class="col4">
            <div style="padding:0px 16px 0px 16px;">
                <button mat-stroked-button color="primary">
                    Search
                </button>
            </div>
        </div>


    </div>



</div>