.stock-name {

}

.current-price {
    font-size: 36px;
}

.stock-description {

}

.left {grid-column:1;}
.right {grid-column: 2;}

.grid-container {
    display: grid;
    grid-template-columns: 67% 33%;
    grid-gap: 16px;
}

mat-button-toggle-group {
    width: 100%;
}

mat-button-toggle {
    width: 50%;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}