<div class="container-large grid-container">

            <div class="container shadow left">

                <h2>
                    {{name}} ({{symbol}}) - ${{currentPrice}}
                </h2>

                candlestick chart goes here

                <p>
                    {{description}}
                </p>

            </div>

        <!-- right panel -->

            <div class="container shadow right">
                
                <h2>Make a Trade</h2>

                <mat-button-toggle-group name="buy-sell">

                    <mat-button-toggle 
                        class="buysell-toggle"
                        checked="true">
                        Buy
                    </mat-button-toggle>

                    <mat-button-toggle>
                        Sell
                    </mat-button-toggle>

                </mat-button-toggle-group>

                <br>

                <p>Select Your Order Type:</p>

                <mat-button-toggle-group name="limit-market">

                    <mat-button-toggle checked="true">
                        Limit
                    </mat-button-toggle>

                    <mat-button-toggle>
                        Market
                    </mat-button-toggle>

                </mat-button-toggle-group>

                <p>Enter Quantity:</p>

                <mat-form-field>
                    <input matInput placeholder="Quantity">
                </mat-form-field>

                <br>

                <button mat-stroked-button>
                    Make Trade
                </button>


            </div>


</div>