.container {
    padding: 0 4% 0 4%
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 16px
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

.price {
    margin: auto;
    font-size: 150%;
    font-weight: lighter;
}

.price-change {
    margin: auto;
    color: limegreen
}