h3{
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: Garamond, serif;
}
.top-nav-bar{
    background-color: whitesmoke;
    padding: 8px 8px 0px;
    /* color: whitesmoke; */
    box-shadow: 0 4px 8px -4px grey;
    display: flex;
    justify-content: space-between;
}
a{
    /* color:whitesmoke; */
    /* background-color: #002D72;
    color: whitesmoke; */
    border-radius: 6px 6px 0 0; 
}
a:hover{
    background-color: #174b74;
    border-radius: 6px 6px 0 0;       
    color: whitesmoke;
}
.mat-tab-nav-bar{
    border: none;
    /* box-shadow: 0 4px 8px -4px #FFFFFF; */
}

.active-link{
    /* border-bottom: 4px solid #005AA1; */
    box-shadow: 0 12px 12px #002d72;
    /* border-bottom: 2px solid #005AA1; */
    font-weight: bold;
    /* background-color: #005AA1; */
    background-color: lightslategray;
    color: whitesmoke;
    border-radius: 6px 6px 0 0;
}
.active-link:hover{
    background-color: lightslategray;
    color: whitesmoke;
}

.logo-img{
    height: 30px;
    margin-left: 20px;
}
