<h3>Trading history</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Profit/Loss</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trade of tradeHist">
            <td>{{ trade.date }}</td>
            <td>{{ trade.symbol }}</td>
            <td>{{ trade.name }}</td>
            <td>{{ trade.type }}</td>
            <td>$ {{ trade.profitOrLoss | number }}</td>
        </tr>
    </tbody>
</table>