<h5>Status of trades</h5> 
<table class="table table-striped mat-elevation-z8 table-condensed">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trade of userStatus">
            <td>{{ trade.created  | date: 'short'}}</td>
            <td>{{ trade.ticker }}</td>
            <td>{{ trade.name }}</td>
            <td>{{ trade.type }}</td>
            <td>{{ trade.quantity }}</td>
            <td>{{ trade.price | currency}}</td>
            <td>
                <span class="rejected-state" *ngIf="trade.state === 'REJECTED'">{{ trade.state }}</span>
                <span class="filled-state" *ngIf="trade.state === 'FILLED'">{{ trade.state }}</span>
                <!-- <span class="processing-state" *ngIf="trade.state !== 'FILLED' || trade.state !== 'REJECTED'">{{ trade.state }}</span> -->
            </td>
        </tr>
    </tbody>
</table>