.top-gainers {
    grid-column: 1;
}

.top-losers {
    grid-column: 2;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 16px
}

.container {
    padding: 8%
}

.title {
    margin: auto;
    text-align: center;
}

.top-gainers .change {
    color: limegreen;
}

.top-losers .change {
    color: red;
}