<div class="user-info shadow container">
    <div class="user-profile-header">
        <img class="avatar-icon" src="assets/svg/avatar-icon.svg" alt="Avatar icon">
        <div class="user-profile-text">
            <h6>{{fullName}}</h6>
            <div class="verified-user-text">
                <span>Verified User</span>
                <img class="verified-icon" src="assets/svg/verified-tick.svg" alt="Verified Icon">
            </div>
            
        </div>
    </div>
    
    <div class="wallet">
        <span>Current Balance </span>
        <h6 class="currency-font">$ {{currency | number}}</h6>
        
    </div>
</div>


