.user-info{
    display: flex;
    justify-content: space-between;
}
.currency-font{
    color: #118C4F;
}
.avatar-icon{
    width: 120px;
}
.user-profile-text{
    margin: 25px;
}
.verified-user-text{
    height: 21px;
    display: flex;
    font-size: large;
    color: lightslategrey;
}
.verified-icon{
    margin-left: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-gap: 16px;
}
.left {grid-column:1;}
.right {grid-column: 2;}