<div class="user-info">

    <!-- left -->
    <div class="container shadow">
        <div class="user-profile-header">

            <img class="avatar-icon" 
                src="assets/svg/avatar-icon.svg"
                alt="Avatar icon">
            
            <div class="user-profile-text">

                <h5 class="fullname">
                    {{fullName}}
                </h5>
                
                <div class="verified-user-text">
                    <span>Verified User</span>

                    <img class="verified-icon"
                        src="assets/svg/verified-tick.svg"
                        alt="Verified Icon">
                </div>
            </div>
        </div>
    </div>

    <!-- right -->
    <div class="container shadow balance">
        <h5>Current Balance </h5>
        <app-wallet-panel [currency] = "currency"></app-wallet-panel>
    </div>
</div>
