.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;

    font-size:90%;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
    text-align: right
}

.higher {
    font-size:100%
}

.lower {
    font-size: 80%
}